# Configuración de la base de datos
DB_URL=jdbc:mysql://localhost:3306/turatrip_db
DB_ROOT_PASSWORD=
DB_USERNAME=
DB_PASSWORD=

# Configuración de JPA e Infraestructura
JPA_DDL_AUTO=update
PORT=8080

# Seguridad (JWT)
JWT_SECRET=
JWT_EXPIRATION_MS=86400000

# Configuración del servidor de correos (SMTP)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=TU_USER_DE_MAILTRAP_AQUI
SMTP_PASSWORD=TU_PASSWORD_DE_MAILTRAP_AQUI

# Enlaces y Endpoints
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:8080/api/v1

# Configuraciones personalizadas de la aplicación
UPLOADS_DIR=/app/uploads