# Variables para la Base de Datos (Docker)
DB_ROOT_PASSWORD=root
DB_USERNAME=root
DB_PASSWORD=root
DB_URL=jdbc:mysql://db:3306/turatrip_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true

# Configuración de JPA e Infraestructura
JPA_DDL_AUTO=update
PORT=8080

# Seguridad (JWT)
JWT_SECRET=9780fbdc24f409a10c25bd5120ed1d484b47d5a4c78c73a834d2fcb50d293362
JWT_EXPIRATION_MS=86400000

# Enlaces y Endpoints
FRONTEND_URL=http://localhost:3000
API_URL=http://localhost:8080/api/v1

# Configuración Servidor SMTP (Ejemplo con Mailtrap o Gmail)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=tu_usuario_ejemplo
SMTP_PASSWORD=tu_password_ejemplo
