# Entorno
.env
.env.local
*.env

# Backend
backend/target/
backend/.mvn/
backend/*.iml
backend/.idea/

# Frontend
frontend/.next/
frontend/node_modules/
frontend/.env.local

# Carpetas de almacenamiento
uploads_data

# OS
.DS_Store
Thumbs.db
